<a href="https://colab.research.google.com/github/crypto-saac/CoinReco/blob/main/outliers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install arff

Requirement already satisfied: arff in /usr/local/lib/python3.10/dist-packages (0.9)

In [ ]:
import pandas as pd
import numpy as np
import arff

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
playerCareerDf = pd.read_csv('/content/drive/MyDrive/databasebasketball/player_regular_season.txt')
playerAllstarDf = pd.read_csv('/content/drive/MyDrive/databasebasketball/player_allstar.txt')

In [ ]:
playerCareerDf

,ilkid,year,firstname,lastname,team,leag,gp,minutes,pts,oreb,...,stl,blk,turnover,pf,fga,fgm,fta,ftm,tpa,tpm
0,ABRAMJO01,1946,John,Abramovic,PIT,N,47,0,527,0,...,0,0,0.0,161,834,202,178,123,0,0
1,AUBUCCH01,1946,Chet,Aubuchon,DE1,N,30,0,65,0,...,0,0,0.0,46,91,23,35,19,0,0
2,BAKERNO01,1946,Norm,Baker,CH1,N,4,0,0,0,...,0,0,0.0,0,1,0,0,0,0,0
3,BALTIHE01,1946,Herschel,Baltimore,ST1,N,58,0,138,0,...,0,0,0.0,98,263,53,69,32,0,0
4,BARRJO01,1946,John,Barr,ST1,N,58,0,295,0,...,0,0,0.0,164,438,124,79,47,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19107,WILLISC01,2004,Scott,Williams,CLE,N,19,152,33,15,...,4,6,5.0,30,41,12,11,9,1,0
19108,WOODSLO01,2004,Loren,Woods,TOR,N,45,712,176,81,...,8,39,37.0,78,164,71,59,34,1,0
19109,WOODSQY01,2004,Qyntel,Woods,MIA,N,3,40,10,2,...,4,0,2.0,6,12,5,0,0,0,0
19110,WRIGHDO01,2004,Dorell,Wright,MIA,N,3,27,7,0,...,4,0,3.0,2,11,3,1,1,4,0
19111,WRIGHLO02,2004,Lorenzen,Wright,MEM,N,80,2287,771,177,...,58,69,100.0,251,683,320,198,131,3,0

In [ ]:
playerAllstarDf.isna().sum()

ilkid            0
year             0
firstname        0
lastname         0
conference       0
leag             0
gp               0
minutes          0
pts             48
dreb          1139
oreb          1139
reb             48
asts            48
stl           1234
blk           1234
turnover      1139
pf            1092
fga             48
fgm             48
fta             48
ftm             48
tpa           1092
tpm           1092
dtype: int64

In [ ]:
playerAllstarDf =playerAllstarDf.dropna()

In [ ]:
playerAllstarDf.describe(include= np.number)

,year,gp,minutes,pts,dreb,oreb,reb,asts,stl,blk,turnover,pf,fga,fgm,fta,ftm,tpa,tpm
count,228.000000,228.0,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000
mean,1992.565789,1.0,21.491228,11.214912,3.188596,1.644737,4.833333,2.771930,1.074561,0.447368,1.793860,1.543860,9.701754,4.649123,1.929825,1.403509,1.517544,0.508772
std,12.023108,0.0,6.892818,7.028096,2.762947,1.830028,3.917467,2.762349,1.219757,0.876438,1.544225,1.370812,5.177773,2.974140,2.545513,2.040209,2.009811,0.917242
min,1972.000000,1.0,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1974.000000,1.0,17.000000,6.000000,1.000000,0.000000,2.000000,1.000000,0.000000,0.000000,1.000000,0.000000,6.000000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,1999.000000,1.0,21.000000,10.000000,3.000000,1.000000,4.000000,2.000000,1.000000,0.000000,1.500000,1.000000,9.000000,4.000000,1.000000,0.000000,1.000000,0.000000
75%,2001.000000,1.0,25.000000,15.000000,4.000000,2.000000,7.000000,4.000000,2.000000,1.000000,3.000000,2.000000,13.000000,6.000000,3.000000,2.000000,2.250000,1.000000
max,2003.000000,1.0,41.000000,37.000000,19.000000,13.000000,22.000000,14.000000,6.000000,5.000000,8.000000,6.000000,27.000000,17.000000,12.000000,11.000000,10.000000,4.000000

In [ ]:
len(playerCareerDf['ilkid'].unique())

3573

In [ ]:
len(playerAllstarDf['ilkid'].unique())

108

In [ ]:
playerAllstarDf = playerAllstarDf['ilkid']

In [ ]:
playerAllstarDf = playerAllstarDf.drop_duplicates()

In [ ]:
playerAllstarDf = playerAllstarDf.apply(lambda x: x.upper().strip())

In [ ]:
playerAllstarDf

19      ABDURSH01
26      ALLENRA02
48      ARTESRO01
49      BAKERVI01
65      BARNEMA01
          ...
1363    WALLARA01
1377    WEBBECH01
1438    WILLICH02
1441    WILLIJA01
1446     WISEWI01
Name: ilkid, Length: 108, dtype: object

Data Cleaning

In [ ]:
print("The number of entries in the dataset:", len(playerCareerDf))
print("The number of entries in the dataset:", len(playerCareerDf["ilkid"].unique()))

The number of entries in the dataset: 19112
The number of entries in the dataset: 3573

In [ ]:
playerCareerDf["leag"].unique()

array(['N', 'A', 'F'], dtype=object)

In [ ]:
print("The number of players in the N league in the dataset:", len(playerCareerDf["leag"] == "N"))
print("The number of players in the A league in the dataset:", len(playerCareerDf["leag"] == "A"))
print("The number of players in the F league in the dataset:", len(playerCareerDf["leag"] == "F"))

The number of players in the N league in the dataset: 19112
The number of players in the A league in the dataset: 19112
The number of players in the F league in the dataset: 19112

In [ ]:
playerCareerDf.drop(playerCareerDf.loc[playerCareerDf['leag'] != "N"].index, inplace=True)

In [ ]:
playerCareerDf.isna().sum()

ilkid        0
year         0
firstname    0
lastname     0
team         0
leag         0
gp           0
minutes      0
pts          0
oreb         0
dreb         0
reb          0
asts         0
stl          0
blk          0
turnover     0
pf           0
fga          0
fgm          0
fta          0
ftm          0
tpa          0
tpm          0
dtype: int64

In [ ]:
playerCareerDf.describe(include= np.number)

,year,gp,minutes,pts,oreb,dreb,reb,asts,stl,blk,turnover,pf,fga,fgm,fta,ftm,tpa,tpm
count,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000
mean,1983.150381,52.124188,1194.597940,530.772610,52.852362,115.904578,229.157320,120.175173,33.040855,19.956738,56.622957,124.811059,454.781453,204.863051,148.093575,110.313298,31.486009,10.745747
std,15.720656,26.453658,980.288163,505.310494,68.766315,146.448286,241.863378,138.792080,40.419133,36.539224,70.058509,87.947888,410.677253,194.892986,151.033668,116.729822,74.325129,27.538678
min,1946.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1974.000000,29.000000,267.000000,117.000000,0.000000,1.000000,42.750000,21.000000,0.000000,0.000000,0.000000,44.000000,111.750000,45.000000,31.000000,21.000000,0.000000,0.000000
50%,1986.000000,60.000000,1029.500000,386.000000,25.000000,60.000000,160.000000,73.000000,18.000000,6.000000,26.000000,120.000000,348.000000,148.000000,101.000000,72.000000,1.000000,0.000000
75%,1996.000000,76.000000,1996.000000,805.000000,81.000000,177.000000,332.000000,170.000000,53.000000,23.000000,95.000000,195.000000,698.000000,312.250000,219.000000,162.000000,18.000000,4.000000
max,2004.000000,88.000000,3882.000000,4029.000000,587.000000,1111.000000,2149.000000,1164.000000,301.000000,456.000000,366.000000,386.000000,3159.000000,1597.000000,1363.000000,840.000000,678.000000,267.000000

Test to see whether we have the same ilkid throughout the dataset

In [ ]:
len(playerCareerDf['ilkid']) == len(playerCareerDf['ilkid'].unique())

False

In [ ]:
playerCareerDf

,ilkid,year,firstname,lastname,team,leag,gp,minutes,pts,oreb,...,stl,blk,turnover,pf,fga,fgm,fta,ftm,tpa,tpm
0,ABRAMJO01,1946,John,Abramovic,PIT,N,47,0,527,0,...,0,0,0.0,161,834,202,178,123,0,0
1,AUBUCCH01,1946,Chet,Aubuchon,DE1,N,30,0,65,0,...,0,0,0.0,46,91,23,35,19,0,0
2,BAKERNO01,1946,Norm,Baker,CH1,N,4,0,0,0,...,0,0,0.0,0,1,0,0,0,0,0
3,BALTIHE01,1946,Herschel,Baltimore,ST1,N,58,0,138,0,...,0,0,0.0,98,263,53,69,32,0,0
4,BARRJO01,1946,John,Barr,ST1,N,58,0,295,0,...,0,0,0.0,164,438,124,79,47,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19107,WILLISC01,2004,Scott,Williams,CLE,N,19,152,33,15,...,4,6,5.0,30,41,12,11,9,1,0
19108,WOODSLO01,2004,Loren,Woods,TOR,N,45,712,176,81,...,8,39,37.0,78,164,71,59,34,1,0
19109,WOODSQY01,2004,Qyntel,Woods,MIA,N,3,40,10,2,...,4,0,2.0,6,12,5,0,0,0,0
19110,WRIGHDO01,2004,Dorell,Wright,MIA,N,3,27,7,0,...,4,0,3.0,2,11,3,1,1,4,0
19111,WRIGHLO02,2004,Lorenzen,Wright,MEM,N,80,2287,771,177,...,58,69,100.0,251,683,320,198,131,3,0

A lambda function is used to enter wheather a player is considered an outstanding player if they have played in an allstar game.

In [ ]:
def getClass(x):
    if x in playerAllstarDf.unique():
        return 1
    else:
        return 0

In [ ]:
playerCareerDf['class'] = playerCareerDf['ilkid'].apply(lambda x: getClass(x))

In [ ]:
playerCareerDf.describe(include=np.number)

,year,gp,minutes,pts,oreb,dreb,reb,asts,stl,blk,turnover,pf,fga,fgm,fta,ftm,tpa,tpm,class
count,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000
mean,1983.150381,52.124188,1194.597940,530.772610,52.852362,115.904578,229.157320,120.175173,33.040855,19.956738,56.622957,124.811059,454.781453,204.863051,148.093575,110.313298,31.486009,10.745747,0.060275
std,15.720656,26.453658,980.288163,505.310494,68.766315,146.448286,241.863378,138.792080,40.419133,36.539224,70.058509,87.947888,410.677253,194.892986,151.033668,116.729822,74.325129,27.538678,0.238003
min,1946.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1974.000000,29.000000,267.000000,117.000000,0.000000,1.000000,42.750000,21.000000,0.000000,0.000000,0.000000,44.000000,111.750000,45.000000,31.000000,21.000000,0.000000,0.000000,0.000000
50%,1986.000000,60.000000,1029.500000,386.000000,25.000000,60.000000,160.000000,73.000000,18.000000,6.000000,26.000000,120.000000,348.000000,148.000000,101.000000,72.000000,1.000000,0.000000,0.000000
75%,1996.000000,76.000000,1996.000000,805.000000,81.000000,177.000000,332.000000,170.000000,53.000000,23.000000,95.000000,195.000000,698.000000,312.250000,219.000000,162.000000,18.000000,4.000000,0.000000
max,2004.000000,88.000000,3882.000000,4029.000000,587.000000,1111.000000,2149.000000,1164.000000,301.000000,456.000000,366.000000,386.000000,3159.000000,1597.000000,1363.000000,840.000000,678.000000,267.000000,1.000000

In [ ]:
playerCareerDf.isna().sum()

ilkid        0
year         0
firstname    0
lastname     0
team         0
leag         0
gp           0
minutes      0
pts          0
oreb         0
dreb         0
reb          0
asts         0
stl          0
blk          0
turnover     0
pf           0
fga          0
fgm          0
fta          0
ftm          0
tpa          0
tpm          0
class        0
dtype: int64

In [ ]:
playerCareerDf['class'].sum()

1077

The new dataset is saved in a arff file so we can create modules using arff

In [ ]:
playerCareerDf.drop(['firstname', 'lastname', "leag"], axis = 1, inplace = True)

In [ ]:
playerCareerDf.to_csv("/content/drive/MyDrive/databasebasketball/playersData.csv", index=False)

In [ ]:
arff.dump('playersData.arff'
      , playerCareerDf.values
      , relation='players'
      , names=playerCareerDf.columns)

In [ ]:
Quartiles = playerCareerDf.quantile([0, 0.25, 0.5, 0.75, 1], interpolation="nearest")

<ipython-input-117-65995f940520>:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Quartiles = playerCareerDf.quantile([0, 0.25, 0.5, 0.75, 1], interpolation="nearest")

In [ ]:
Quartiles

,year,gp,minutes,pts,oreb,dreb,reb,asts,stl,blk,turnover,pf,fga,fgm,fta,ftm,tpa,tpm,class
0.00,1946,1,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
0.25,1974,29,267,117,0,1,43,21,0,0,0.0,44,112,45,31,21,0,0,0
0.50,1986,60,1030,386,25,60,160,73,18,6,26.0,120,348,148,101,72,1,0,0
0.75,1996,76,1996,805,81,177,332,170,53,23,95.0,195,698,312,219,162,18,4,0
1.00,2004,88,3882,4029,587,1111,2149,1164,301,456,366.0,386,3159,1597,1363,840,678,267,1

In [ ]:
playerCareerDf.describe(include=np.number)

,year,gp,minutes,pts,oreb,dreb,reb,asts,stl,blk,turnover,pf,fga,fgm,fta,ftm,tpa,tpm,class
count,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000,17868.000000
mean,1983.150381,52.124188,1194.597940,530.772610,52.852362,115.904578,229.157320,120.175173,33.040855,19.956738,56.622957,124.811059,454.781453,204.863051,148.093575,110.313298,31.486009,10.745747,0.060275
std,15.720656,26.453658,980.288163,505.310494,68.766315,146.448286,241.863378,138.792080,40.419133,36.539224,70.058509,87.947888,410.677253,194.892986,151.033668,116.729822,74.325129,27.538678,0.238003
min,1946.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1974.000000,29.000000,267.000000,117.000000,0.000000,1.000000,42.750000,21.000000,0.000000,0.000000,0.000000,44.000000,111.750000,45.000000,31.000000,21.000000,0.000000,0.000000,0.000000
50%,1986.000000,60.000000,1029.500000,386.000000,25.000000,60.000000,160.000000,73.000000,18.000000,6.000000,26.000000,120.000000,348.000000,148.000000,101.000000,72.000000,1.000000,0.000000,0.000000
75%,1996.000000,76.000000,1996.000000,805.000000,81.000000,177.000000,332.000000,170.000000,53.000000,23.000000,95.000000,195.000000,698.000000,312.250000,219.000000,162.000000,18.000000,4.000000,0.000000
max,2004.000000,88.000000,3882.000000,4029.000000,587.000000,1111.000000,2149.000000,1164.000000,301.000000,456.000000,366.000000,386.000000,3159.000000,1597.000000,1363.000000,840.000000,678.000000,267.000000,1.000000

In [ ]:
playerCareerDf

,ilkid,year,team,gp,minutes,pts,oreb,dreb,reb,asts,...,blk,turnover,pf,fga,fgm,fta,ftm,tpa,tpm,class
0,ABRAMJO01,1946,PIT,47,0,527,0,0,0,35,...,0,0.0,161,834,202,178,123,0,0,0
1,AUBUCCH01,1946,DE1,30,0,65,0,0,0,20,...,0,0.0,46,91,23,35,19,0,0,0
2,BAKERNO01,1946,CH1,4,0,0,0,0,0,0,...,0,0.0,0,1,0,0,0,0,0,0
3,BALTIHE01,1946,ST1,58,0,138,0,0,0,16,...,0,0.0,98,263,53,69,32,0,0,0
4,BARRJO01,1946,ST1,58,0,295,0,0,0,54,...,0,0.0,164,438,124,79,47,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19107,WILLISC01,2004,CLE,19,152,33,15,15,30,8,...,6,5.0,30,41,12,11,9,1,0,0
19108,WOODSLO01,2004,TOR,45,712,176,81,139,220,17,...,39,37.0,78,164,71,59,34,1,0,0
19109,WOODSQY01,2004,MIA,3,40,10,2,4,6,0,...,0,2.0,6,12,5,0,0,0,0,0
19110,WRIGHDO01,2004,MIA,3,27,7,0,1,1,3,...,0,3.0,2,11,3,1,1,4,0,0
19111,WRIGHLO02,2004,MEM,80,2287,771,177,436,613,87,...,69,100.0,251,683,320,198,131,3,0,0

In [ ]:
playerCareerDf.isna().sum()

ilkid       0
year        0
team        0
gp          0
minutes     0
pts         0
oreb        0
dreb        0
reb         0
asts        0
stl         0
blk         0
turnover    0
pf          0
fga         0
fgm         0
fta         0
ftm         0
tpa         0
tpm         0
class       0
dtype: int64

In [ ]:
# Import necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import pandas as pd

# Load your dataset
dataset_path = "/content/drive/MyDrive/databasebasketball/playersData.csv"
df = pd.read_csv(dataset_path)

# Extract features and target variable
X = df.drop(['class', 'ilkid', 'year','team'], axis=1)
y = df['class']

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit and transform numerical features
X_scaled = scaler.fit_transform(X)

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Create and train the Random Forest Classifier
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

# Predict on the testing set
y_pred = model.predict(X_test)

y_test = y_test.reset_index(drop=True)

# Assign the outlier predictions to the DataFrame
df.loc[y_test.index, 'outlier_prediction'] = y_pred

# Evaluate the model
print("Classification Report:")
print(classification_report(y_test, y_pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.96      1.00      0.98      3362
           1       0.85      0.29      0.43       212

    accuracy                           0.95      3574
   macro avg       0.90      0.64      0.70      3574
weighted avg       0.95      0.95      0.94      3574

In [ ]:
# Display outliers with a value of 1
outliers_df = df[df['outlier_prediction'] == 1]

# Print the DataFrame containing outliers
print("Rows with Outliers:")
print(outliers_df)
outliers_df.to_csv("/content/drive/MyDrive/databasebasketball/outliers.csv", index=False)

Rows with Outliers:
          ilkid  year team  gp  minutes   pts  oreb  dreb  reb  asts  ...  \
24    CORLEKE01  1946  CL1   3        0     0     0     0    0     0  ...
70    HIRSCME01  1946  BOS  13        0    19     0     0    0    10  ...
119   MILLSJO01  1946  PIT  47        0   181     0     0    0     9  ...
125   MULLEBO01  1946  TOT  54        0   314     0     0    0    54  ...
220    DOLLBO01  1947  ST1  42        0   446     0     0    0    26  ...
...         ...   ...  ...  ..      ...   ...   ...   ...  ...   ...  ...
3507  KAUFFBO01  1970  BUF  78     2778  1591     0     0  837   354  ...
3529   MASTED01  1970  NYK  30      164    61     0     0   56     4  ...
3546  MULLIJE01  1970  SFW  75     2909  1562     0     0  341   332  ...
3566  ROBERRI01  1970  LAL  65      909   338     0     0  304    47  ...
3571  SANDETH01  1970  BOS  17      121    39     0     0   17    11  ...

      turnover   pf   fga  fgm  fta  ftm  tpa  tpm  class  outlier_prediction
24         0.0    0     0    0    0    0    0    0      0                 1.0
70         0.0   18    45    9    2    1    0    0      0                 1.0
119        0.0   94   187   55  129   71    0    0      0                 1.0
125        0.0   94   445  125  102   64    0    0      0                 1.0
220        0.0  107   658  174  148   98    0    0      0                 1.0
...        ...  ...   ...  ...  ...  ...  ...  ...    ...                 ...
3507       0.0  263  1309  616  485  359    0    0      0                 1.0
3529       0.0   25    66   25   20   11    0    0      0                 1.0
3546       0.0  246  1308  630  358  302    0    0      0                 1.0
3566       0.0  125   301  125  143   88    0    0      0                 1.0
3571       0.0   25    44   16    8    7    0    0      0                 1.0

[72 rows x 22 columns]